@import "../../styles/variables.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size-medium;
  font-weight: 700;
  padding: 10px 18px;
  text-align: center;
  vertical-align: middle;
  border: 0;
  border-radius: 20px;
  background-color: $color-primary-2;
  box-shadow: 0 5px 5px 1px rgba($color-dark, 0.2);
  transition: background-color 0.3s ease-out;

  &:hover {
    background-color: $color-secondary-2;
    cursor: pointer;
  }

  & > svg {
    margin-left: 10px;
  }
}
