@import "../../styles/variables.scss";

.button {
  font-size: $font-size-medium-small;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  min-height: $min-button-height;
  min-width: $min-button-width;
  color: $font-color-light;
  padding: 2vh 2vw;
  text-align: center;
  vertical-align: middle;
  border: 0;
  border-radius: 50px;
  background-color: $color-primary-1;
  text-shadow: 0 0 2px rgba($color-dark, 0.3);
  box-shadow: 0 5px 5px 1px rgba($color-dark, 0.2);
  transition: background-color 0.3s ease-out;

  &:hover {
    background-color: $color-secondary-1;
    cursor: pointer;
  }
}