@import "./variables.scss";

.flex-container {
  display: flex;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-vertical {
  @extend .flex;
  flex-direction: column;
}

.form-vertical {
  @extend .flex-vertical;
  justify-content: space-between;
  gap: 2vh;
}

.text-center {
  text-align: center;
  vertical-align: middle;
}

.text-error {
  font-size: $font-size-medium-small;
  color: $color-error;
}

.card {
  height: 30vh;
  width: 15vw;
  background-color: $color-background;
  border-radius: 15px;
  box-shadow: 0 2px 8px 2px rgba($color-dark, 0.2);
}
