$color-background: #fefefe;
$color-primary-1: #4c933b;
$color-secondary-1: #98c13d;
$color-primary-2: #ffed4d;
$color-secondary-2: #ffd000;
// $color-primary-1: #1f2092;
// $color-secondary-1: #3149d1;
// $color-primary-2: #7d26f0;
// $color-secondary-2: #6f00ff;
$color-primary-3: #83bd5d;
$color-secondary-3: #a2c57a;

$color-error: #ff0000;
$color-dark: #000000;
$color-gray: #666666;
$color-light: #fefefe;

$color-team-red-primary: #a53827;
$color-team-red-secondary: #a02e1c;
$color-team-blue-primary: #3989a7;
$color-team-blue-secondary: #2881a1;

@function calculate-font-size($value) {
  @return calc((#{$value}vh + #{$value}vw / 2) / 2);
}

$font-size-very-small: calculate-font-size(1.3);
$font-size-small: calculate-font-size(1.4);
$font-size-medium-small: calculate-font-size(1.5);
$font-size-medium: calculate-font-size(1.8);
$font-size-medium-large: calculate-font-size(2);
$font-size-large: calculate-font-size(2.5);
$font-size-very-large: calculate-font-size(4);

$font-color-dark: #000000;
$font-color-light: #ffffff;
$font-color-gray: #666666;
$font-color-light-gray: #e5e7eb;

$background-image: linear-gradient(100deg, rgba($color-primary-1, 0.5), rgba($color-secondary-1, 0.5)), url("../../assets/page-background.jpg");
