$color-background: #fefefe;
$color-primary-1: #4c933b;
$color-secondary-1: #98c13d;
$color-primary-2: #ffed4d;
$color-secondary-2: #ffd000;
// $color-primary-1: #1f2092;
// $color-secondary-1: #3149d1;
// $color-primary-2: #7d26f0;
// $color-secondary-2: #6f00ff;
$color-primary-3: #83bd5d;
$color-secondary-3: #a2c57a;

$color-error: #ff0000;
$color-dark: #000000;
$color-gray: #666666;
$color-light: #fefefe;

$color-team-red-primary: #a53827;
$color-team-red-secondary: #a02e1c;
$color-team-blue-primary: #3989a7;
$color-team-blue-secondary: #2881a1;

$font-size-very-small: calc((1.3vh + 1.3vw / 2) / 2);
$font-size-small: calc((1.4vh + 1.4vw / 2) / 2);
$font-size-medium-small: calc((1.5vh + 1.5vw / 2) / 2);
$font-size-medium: calc((1.8vh + 1.8vw / 2) / 2);
$font-size-medium-large: calc((2vh + 2vw / 2) / 2);
$font-size-large: calc((2.5vh + 2.5vw / 2) / 2);
$font-size-very-large: calc((4vh + 4vw / 2) / 2);

$font-color-dark: #000000;
$font-color-light: #ffffff;
$font-color-gray: #666666;
$font-color-light-gray: #e5e7eb;

$background-image: linear-gradient(100deg, rgba($color-primary-1, 0.5), rgba($color-secondary-1, 0.5)), url("../../assets/page-background.jpg");
