@import "../../../global/styles/variables.scss";

.copy-button {
  color: $font-color-dark;
  font-size: $font-size-medium-small;
  font-weight: inherit;
  background-color: inherit;
  border: none;
  cursor: pointer;
  margin: auto 20px;
  padding: 0;
  padding-block: 0;
  padding-inline: 0;
  position: absolute;

  > svg {
    text-align: center;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 4px;
  }
}
