@import "../../global/styles/variables.scss";

.connect-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  font-weight: 500;
  padding: 3vh 0;
}

.invite-text {
  font-weight: 700;
  font-size: $font-size-medium-small;
  color: $color-primary-1;
}

.room-code {
  padding: 0 0.6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.room-id {
  user-select: text;
  font-size: $font-size-medium-small;
  width: 10vw;
  overflow: scroll;
  scrollbar-width: none;
  white-space: nowrap;
  display: inline-block;
  border-radius: 0.6rem;
  padding: 0.9vh 0.6vw;
  box-shadow: inset 0 0 4px 2px rgba($color-dark, 0.1);
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90vh;
  width: 100%;
  background-color: $font-color-light-gray;
}

.section {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.button-reset {
  margin-bottom: 1vh;

  &:active {
    transform: none;
  }
}

.players-number {
  font-weight: 700;
  margin-left: 0.5vw;
}

.players {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crown-icon {
  position: absolute;
  margin-left: 0.25vw;
  margin-top: 0.5vh;
}
