@import "../../global/styles/variables.scss";

.connect-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: 500;
  padding: 30px 0;
}

.invite-text {
  font-weight: 700;
  font-size: $font-size-medium-small;
  color: $color-primary-1;
}

.room-code {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.room-id {
  user-select: text;
  font-size: $font-size-medium-small;
  width: 180px;
  overflow: scroll;
  scrollbar-width: none;
  white-space: nowrap;
  display: inline-block;
  border-radius: 8px;
  padding: 5px 10px;
  box-shadow: inset 0 0 8px 0 rgba($color-dark, 0.2);
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100% - 120px);
  width: 100%;
  gap: 20px;
  background-color: $font-color-light-gray;
}

.section {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.host-label {
  padding: 10px 18px;
  font-size: $font-size-medium-small;
  margin-bottom: 10px;

  &:active {
    transform: none;
  }
}

.players-number {
  font-weight: 700;
  margin-left: 5px;
}
