@import "../../global/styles/variables.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 150px;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
}

.text {
  font-size: $font-size-medium-large;
  font-weight: 800;
}

.button-start {
  margin: auto;
}
