@import "../../styles/variables.scss";

.input-group {
  position: relative;
  margin-top: 10px;
}

.input-field {
  margin: 0;
  background: transparent;
  border: none;
  outline: none;
  font-size: $font-size-medium;
  font-weight: bold;
  min-height: $min-button-height;
  min-width: $min-button-width;
  box-shadow: none;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:focus {
    @extend .input-field-focused;
  }

  &:not(:placeholder-shown) {
    @extend .input-exists;
  }
}

.input-field-focused {
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $color-primary-1, $color-secondary-1);
  border-image-slice: 1;

  ~ .input-label {
    display: block;
    position: absolute;
    top: -15px;
    transition: 0.2s;
    font-size: $font-size-medium-small;
    font-weight: bold;
  }
}

.input-exists {
  @extend .input-field-focused;

  ~ .input-label {
    color: $color-primary-1;
  }
}

.input-field-regular {
  border-bottom: 2px solid $font-color-gray;
}

.input-field-error {
  border-bottom: 2px solid $color-error;

  &:focus {
    border-image: none;
    border-color: $color-error;

    ~ .input-label {
      color: $color-error;
    }
  }
}

.input-label {
  display: block;
  position: absolute;
  top: 8px;
  left: 2px;
  transition: 0.2s;
  font-size: $font-size-medium;
  font-weight: bold;
  pointer-events: none;
}

.input-label-regular {
  color: $font-color-gray;
}

.input-label-error {
  color: $color-error;
}

.input-error-message {
  display: block;
  position: absolute;
  color: $color-error;
  font-size: $font-size-medium-small;
  padding: 5px 4px;
  min-width: $min-button-width;
}
