@import "../../global/styles/variables.scss";

.team {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size-medium-large;
  font-weight: 500;
  padding: 50px 10px;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 50px 10px;
  background-color: $font-color-light-gray;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 40px;
}
