@import "../../global/styles/variables.scss";

.team-select {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size-medium-large;
  font-weight: 500;
  padding: 3vh 0.5vw;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  width: 100%;
  background-color: $font-color-light-gray;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3.5vh;
}

.section {
  padding: 3vh 0 6vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
