@import "../../../global/styles/variables.scss";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $font-size-medium;
  font-weight: 700;
  padding: 0;
  margin: 0;
  border-radius: 0.5rem;
  background-image: linear-gradient(100deg, $color-primary-1, $color-secondary-3);
  cursor: pointer;
}

.card-closed {
  filter: brightness(10%);
}

.card-number {
  font-size: $font-size-medium;
  font-weight: 600;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.voters {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.voter {
  font-size: $font-size-medium-small;
  color: $color-light;
  font-weight: 400;
  padding: 0.1vh 0.2vw;
  margin: 0.1vh;
  border-radius: 0.3rem;
  overflow: hidden;
  white-space: nowrap;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.red {
  background-image: linear-gradient(100deg, $color-team-red-primary, $color-team-red-secondary);
}

.blue {
  background-image: linear-gradient(100deg, $color-team-blue-primary, $color-team-blue-secondary);
}
