@import "../../global/styles/variables.scss";

.hints-card {
  position: absolute;
  bottom: 6%;
  right: 3%;
  height: auto;
  max-height: 40vh;
  width: 20vw;
  overflow-y: auto;
  scrollbar-width: none;
  padding: 2vh 1vw;
  margin: 0;
  z-index: 900;
  background-color: $color-background;
  border-radius: 1rem;
  box-shadow: $box-shadow-card;
  opacity: 1;
}

.text-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  opacity: 0;

  .title {
    font-size: $font-size-medium-large;
    font-weight: bold;
    align-self: center;
  }

  p {
    font-size: $font-size-medium;
    text-align: justify;

    span {
      font-weight: 700;
    }
  }
}
