@import "../../global/styles/variables.scss";

.image-container {
  max-width: 50vw;
  max-height: 80vh;
  overflow: hidden;
  border-radius: 2rem;
}

.image {
  max-width: 50vw;
  max-height: 80vh;
  border-radius: 2rem;
}
